@mixin warning{
  background-color: orange;
  color: #fff;
}

@mixin large-text{
  font:{
    size: 22px;
    weight: bold;
  }
}

@mixin rounded($radius){
  border-radius: $radius;
}

@mixin box($radius, $border){
  @include rounded($radius);
  border: $border;
}

@mixin fancy-links{
  a{
    font-style: italic;
    text-decoration: none;
  }
}