//----- Variables -----
@import './variables/_variables.scss';

//----- Mixin Partial  ------

@import 'mixins/mixin-lessons';

//----- USING A MIXIN AT THE ROOT LEVEL

@include fancy-links  //<------this now touches every link on our site

//----- DOM STUFF -----


body  {
  font-family: $text-font;
  color: $text-color;
  background-color: #eee;
}

h1, h2, h3, h4 {
  font-family: $headline-font;

}

h2{
  @include large-text;
  //this mix-makes the h2 smaller than default
}

p {
  font-family: $text-font;

}

a {
  color: $link-color;

}

//----- Header  -----

.warning-button{
  @include warning;
  padding: 8px 12px;
  //padding==> 8 for btm, 12 for left&right
}

#header {
  @include box;
  height: $header-height;
  background-color: $theme-color;

  #main-menu {

    li{
      display: inline;
    }

    a{
      color: $menu-item-color;
    }

  }

  #logo {

  }
}

//----- Main  -----
#main {
  width: $content-width;
  margin-left: auto;
  margin-right: auto;


  #content {
  }

  #sidebar {
  }
}

//--- Footer ----

#footer {
  height: $footer-height;
  background-color: $ternary-color;

}